
# Created by https://www.toptal.com/developers/gitignore/api/python,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=python,vscode

# Pycharm
*.idea

# Airflow's home directory. Want to keep the folders but not all its generated content - minus tutorial.py
airflow/
!airflow/dags/tutorial.py
!airflow/plugins/.gitkeep
!airflow/logs/.gitkeep

### vscode ###
.vscode/*

# End of https://www.toptal.com/developers/gitignore/api/python,vscode
